/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #5d536b;
    color: #333;
    scroll-behavior: smooth;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/* Header Styles */
header {
    background: #272838;
    color: #7d6b91;
    padding-top: 20px;
    min-height: 70px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-bottom: 0;
}

header a {
    color: #7d6b91;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 24px;
    text-align: left;
}

header nav ul {
    list-style: none;
    padding: 0; /* Adjusted padding */
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 1em; /* Added space between list items */
}

header nav ul li a {
    color: #7d6b91;
    text-decoration: none;
    font-size: 20px;
}

/* Showcase Styles */
#showcase {
    min-height: 50vh;
    text-align: center;
    color: #f3e0ec;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#showcase h1 {
    font-size: 55px;
    margin-bottom: 30px;
    animation: fadeIn 4s ease-in-out;
}

#showcase h2 {
    font-size: 55px;
    margin-bottom: 30px;
    animation: fadeIn 4s ease-in-out;
}

#showcase p {
    font-size: 24px;
    animation: fadeIn 4s ease-in-out;
}

#showcase img {
    animation: fadeIn 2s ease-in-out;
    padding: 0px;
}

/* Section Styles */
section {
    padding: 1em 2em;
}

.section-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.section-content div {
    flex: 1;
    min-width: 300px;
}

.section-content img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-content h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ead5e6;
    text-align: left;
}

.section-content p {
    font-size: 18px;
    line-height: 1.8;
    color: #f3e0ec;
    text-align: left;
}

.section-content ul {
    font-size: 18px;
    line-height: 1.8;
    color: #f3e0ec;
    text-align: left;
}

#contact {
    justify-self: center;
}

/* Fade in Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Smooth Scroll Sections */
.section {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.section.show {
    opacity: 1;
}

/* Footer Styles */
footer {
    background: #272838;
    color: #7d6b91;
    text-align: center;
    padding: 30px 0;
}

footer nav ul {
    list-style: none;
    padding: 0; /* Adjusted padding */
    margin: 0;
    display: flex;
    justify-content: center;
}

footer nav ul li {
    margin: 0 1em; /* Added space between list items */
}

footer nav ul li a {
    color: #7d6b91;
    text-decoration: none;
    font-size: 14px;
}
